body {
  margin: 0px;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navvvvv {
  background-color: #00acee;
}

.outerBox {
  position: relative;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3), 0px 2px 10px rgba(0, 0, 0, 0.24);
  margin-top: 20px;
  background-color: #fff;
}

.outerBox1 {
  position: relative;
  width: auto;
  height: auto;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3), 0px 2px 10px rgba(0, 0, 0, 0.24);
  margin-top: 20px;
  background-color: #fff;
}

.custom-navbar {
  background-color: transparent;
  box-shadow: 0 0 0 transparent;
}

h4 {
  font-family: "Permanent Marker", cursive;
}
